/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}
.tooltip__text {
  width: 160px;
  visibility: hidden;
  font-weight: normal;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltip__text {
  visibility: visible;
}

/* Top */
.tooltip__text--top {
  width: 160px;
  bottom: 100%;
  left: 50%; 
  margin-left: -80px;
}
.tooltip__text--top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Bottom */
.tooltip__text--bottom {
  width: 160px;
  top: 100%;
  left: 50%; 
  margin-left: -80px;
}
.tooltip__text--bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Left */
.tooltip__text--left {
  top: -5px;
  right: 105%; 
}
.tooltip__text--left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/* Right */
.tooltip__text--right {
  top: -5px;
  left: 105%;
}
.tooltip__text--right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
