* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.date {
	top: 15px;
}

body {
	background:#f1f1f1;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 135%;
}

.box {
	background: white;
	margin-bottom: 25px;
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.6)
}


#container{
	width: 1140px;
	margin: 20px auto;
}
#blog-post-container{
	width: 75%;	
	float: left;
}

#other-posts{
	width: 25%;	
	float: left;
	padding-left: 10px;
}

#author-box{
	border-top: 1px solid RGB(0,0,0,.125);
	padding-top: 10px;
}
#author-box img {
	border-radius: 50%;
	float: left;
	margin-bottom: 25px;
	
}

.author-text {
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}

.blog-post{
	position: relative;
	background: white;
	margin-bottom: 25px;
	padding: 20px;
}

.blog-post img {
	width: 100%;
}

h2{
	margin-bottom: 20px;
	font-size: 30px;
}

.date{
	position: absolute;
	right:50px;
	top: 20px;
	color:#aaa;
	font-size: 15px;
}
.blog-text {
	margin-top: 15px;
	font-size: 16px;
	color: #aaa;
	line-height: 22px;
	margin-bottom: 15px;
	font-weight: 500px;
	text-align: justify;
}


.tags li{
	list-style: none;
	display: inline;
	margin-right: 5px;
}

.tags li a{
	text-decoration: none;
}

#share a {
	color: gray;
	text-decoration: none;
	margin-right: 12px;
	opacity: 0.6;
}
#share a:hover {
	opacity: 0.9;
}
