/* Breakpoint */

/* xl */
.box {
  width: 100%;
  display: block;
  background: #1094F6;
  border-radius: 8px;
  margin-bottom: 16px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 16px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  /* lg */
  .box {
    background: #F72848;
  }
}

@media (max-width: 768px) {
  /* md */
  .box {
    background: #12D469;
  }
}

@media (max-width: 667px) {
  /* sm */
  .box {
    background: #973CBD;
  }
}
