#container{
    width: 1140px;
    
}


#blog-post-container {
    width: 75%;
    float: left;
   
}
.date {
    position: absolute;
    top: 0;
    right: 50px;
}

.blog-post {
    display: inline-block;
}
.blog-post {
    position: relative;
}

#other-posts {
    width: 25%;
    float: left;
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 0;
}
#author-box {
   
}
.tags {
    margin: 0;
    padding: 0;
}
.tags li {
    list-style: none;
    display: inline;
    margin-right: 5px;

}

.tags li a {
    text-decoration: none;
}